.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1560.6em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 1.0314em;
      height: 0.62em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -0.7em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -45.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -93.7em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -142.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -190.7em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -240em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -246.4em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.cancel:before {
      background-position: 0em -291.6em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -339.2em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -341.5em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.cart-empty:before {
      background-position: 0em -344.1em;
      width: 1.4602em;
      height: 1.0809em;
  }




  .icon.check-round:before {
      background-position: 0em -345.2em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.checked:before {
      background-position: 0em -394.3em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.clip:before {
      background-position: 0em -396.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.clock:before {
      background-position: 0em -448.1em;
      width: 2em;
      height: 2em;
  }




  .icon.close:before {
      background-position: 0em -450.1em;
      width: 1.6145em;
      height: 1.6143em;
  }




  .icon.close-box:before {
      background-position: 0em -451.8em;
      width: 38.497em;
      height: 38.497em;
  }




  .icon.close-fat:before {
      background-position: 0em -490.3em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.delete:before {
      background-position: 0em -492.5em;
      width: 2em;
      height: 2.2em;
  }




  .icon.download:before {
      background-position: 0em -494.7em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.edit:before {
      background-position: 0em -541.9em;
      width: 2.2em;
      height: 2.2em;
  }




  .icon.exit:before {
      background-position: 0em -544.1em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.food:before {
      background-position: 0em -545.9em;
      width: 2em;
      height: 2.2em;
  }




  .icon.free:before {
      background-position: 0em -548.1em;
      width: 4.4413em;
      height: 2.68em;
  }




  .icon.heart:before {
      background-position: 0em -550.8em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -598em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -646.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.interface:before {
      background-position: 0em -697.9em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -747em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.location:before {
      background-position: 0em -756.6em;
      width: 2.07em;
      height: 2.3em;
  }




  .icon.login:before {
      background-position: 0em -758.9em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.mail:before {
      background-position: 0em -762.2em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -810.6em;
      width: 2.2em;
      height: 1.8em;
  }




  .icon.minus:before {
      background-position: 0em -812.4em;
      width: 46.9em;
      height: 46.9em;
  }




  .icon.more:before {
      background-position: 0em -859.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.phone-call:before {
      background-position: 0em -910.5em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.plus:before {
      background-position: 0em -957.9em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.profile:before {
      background-position: 0em -959.7em;
      width: 5.5em;
      height: 5.5em;
  }




  .icon.repeat:before {
      background-position: 0em -965.2em;
      width: 2.4em;
      height: 2.2em;
  }




  .icon.search:before {
      background-position: 0em -967.4em;
      width: 2.5999em;
      height: 2.5999em;
  }




  .icon.share:before {
      background-position: 0em -970em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.shopping-cart:before {
      background-position: 0em -1018.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.smile-good:before {
      background-position: 0em -1069.4em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1073.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-in:before {
      background-position: 0em -1124.9em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1168em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1211.9em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -1221.5em;
      width: 30em;
      height: 30em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1251.5em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1292.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1343.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1395em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.star:before {
      background-position: 0em -1446.2em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.tick--color:before {
      background-position: 0em -1495.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.unlike:before {
      background-position: 0em -1546.5em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.upload:before {
      background-position: 0em -1556.1em;
      width: 2.2em;
      height: 2.2em;
  }




  .icon.user:before {
      background-position: 0em -1558.3em;
      width: 2.3em;
      height: 2.3em;
  }





