.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1642.2em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-conner-left:before {
      background-position: 0em 0em;
      width: 1.4em;
      height: 1em;
  }




  .icon.arrow-down:before {
      background-position: 0em -1em;
      width: 1.0314em;
      height: 0.62em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -1.7em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -46.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -94.7em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -143.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -191.7em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-round-left:before {
      background-position: 0em -241em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.arrow-up:before {
      background-position: 0em -292.2em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -298.6em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.cancel:before {
      background-position: 0em -343.8em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -391.4em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -393.7em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.cart-empty:before {
      background-position: 0em -396.3em;
      width: 1.4602em;
      height: 1.0809em;
  }




  .icon.check-round:before {
      background-position: 0em -397.4em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.checked:before {
      background-position: 0em -446.5em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.clip:before {
      background-position: 0em -449.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.clock:before {
      background-position: 0em -500.3em;
      width: 2em;
      height: 2em;
  }




  .icon.close:before {
      background-position: 0em -502.3em;
      width: 1.6145em;
      height: 1.6143em;
  }




  .icon.close-box:before {
      background-position: 0em -504em;
      width: 38.497em;
      height: 38.497em;
  }




  .icon.close-fat:before {
      background-position: 0em -542.5em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.delete:before {
      background-position: 0em -544.7em;
      width: 2em;
      height: 2.2em;
  }




  .icon.download:before {
      background-position: 0em -546.9em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.edit:before {
      background-position: 0em -594.1em;
      width: 2.2em;
      height: 2.2em;
  }




  .icon.exit:before {
      background-position: 0em -596.3em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.food:before {
      background-position: 0em -598.1em;
      width: 2em;
      height: 2.2em;
  }




  .icon.free:before {
      background-position: 0em -600.3em;
      width: 4.4413em;
      height: 2.68em;
  }




  .icon.heart:before {
      background-position: 0em -603em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -650.2em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -698.9em;
      width: 33em;
      height: 33em;
  }




  .icon.interface:before {
      background-position: 0em -731.9em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.key:before {
      background-position: 0em -781em;
      width: 2em;
      height: 2em;
  }




  .icon.like:before {
      background-position: 0em -783em;
      width: 1.9998999999999998em;
      height: 2em;
  }




  .icon.location:before {
      background-position: 0em -785em;
      width: 2.07em;
      height: 2.3em;
  }




  .icon.login:before {
      background-position: 0em -787.3em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.mail:before {
      background-position: 0em -790.6em;
      width: 2em;
      height: 1.6em;
  }




  .icon.menu:before {
      background-position: 0em -792.2em;
      width: 2.2em;
      height: 1.8em;
  }




  .icon.minus:before {
      background-position: 0em -794em;
      width: 46.9em;
      height: 46.9em;
  }




  .icon.more:before {
      background-position: 0em -840.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.parking:before {
      background-position: 0em -892.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.phone-call:before {
      background-position: 0em -943.3em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.plus:before {
      background-position: 0em -990.7em;
      width: 44.8em;
      height: 44.8em;
  }




  .icon.pocket:before {
      background-position: 0em -1035.5em;
      width: 2em;
      height: 2.0003em;
  }




  .icon.profile:before {
      background-position: 0em -1037.6em;
      width: 5.5em;
      height: 5.5em;
  }




  .icon.repeat:before {
      background-position: 0em -1043.1em;
      width: 2.4em;
      height: 2.2em;
  }




  .icon.search:before {
      background-position: 0em -1045.3em;
      width: 2.5999em;
      height: 2.5999em;
  }




  .icon.share:before {
      background-position: 0em -1047.9em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.shopping-cart:before {
      background-position: 0em -1096.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.smile-good:before {
      background-position: 0em -1147.3em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1151.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-in:before {
      background-position: 0em -1202.8em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1245.9em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1289.8em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -1299.4em;
      width: 30em;
      height: 30em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1329.4em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1370.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1421.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1472.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.star:before {
      background-position: 0em -1524.1em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.tick--color:before {
      background-position: 0em -1525.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.unlike:before {
      background-position: 0em -1576.9em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.upload:before {
      background-position: 0em -1586.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.user:before {
      background-position: 0em -1637.7em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.wi-fi:before {
      background-position: 0em -1640em;
      width: 2.9105em;
      height: 2.2em;
  }





