// ============================ Buttons ============================
.btn
	br(5px)
	tr(all)
	display inline-block
	background none
	border 0
	text-align: center
	font-weight: 700
	&:hover
		cursor pointer

.btn--sm
	@extend .btn
	padding 8px 20px
	br(5px)
	@extend .type--sm
.btn--md
	@extend .btn
	padding 15px 30px

.btn--lg
	@extend .btn
	font-weight 700
	padding 13px 30px

.btn--fix
	+below(640px)
		min-width 100%
	@extend .btn
	font-weight 700
	padding 15px 15px
	min-width 280px

.btn--mobile
	@extend .btn
	+below(768px)
		width 100%
		text-align center

.btn--mark
	@extend .btn
	color white
	background $mark
	.nav-icon
		fill white
	&:hover
		background-color darken($mark,20)
		color white!important
	&:active
		background-color darken($mark,20)
	input[type="submit"]
		border 0
	.nav-icon
		fill white

.btn--disable
	@extend .disabled
	border 1px solid $border-color
	background-color #ffffff
	color #000000

.btn--light
	border 1px solid $mark
	background-color #ffffff
	&:hover
		background: $mark
		color white
	.nav-icon
		fill $mark

.btn--white
	border 1px solid rgba(255, 255, 255, 0.9)
	background: white
	&:hover
		color $mark
	.nav-icon
		fill rgba(255, 255, 255, 0.9)

.btn--gray
	background-color $snow
	border 1px solid $snow
	&:hover
		border 1px solid black
		background-color white

.btn--icon
	flex(mid)
	.nav-icon
		margin-left: 10px

.nav-icon
	size 20px
	display inline-block

.btn--icon-left
	.nav-icon
		margin-left: 0
		margin-right: 10px

.btn-row-mid
	flex(mid)
	margin: 50px 0

.btn-row-mid--clear
	margin: 0

.btn--full
	width: 100%
	display block

